{{ with .Site.Params.algolia_docsearch }}
    <script>document.addEventListener('DOMContentLoaded', function setHomeBGColor() {
        $(".td-home").css('background-color', "#112233");
    });</script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript"> docsearch({
        apiKey: 'ca4800b604c0c5f8f9ffb26b5796bd18',
        indexName: 'feroxbuster',
        inputSelector: '.td-search-input',
        debug: false // Set debug to true if you want to inspect the dropdown
        });
    </script>
{{ end }}